
/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar h3 {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.categories {
  list-style: none;
  display: flex;
  gap: 20px;
}

.categories li a {
  text-decoration: none;
  color: #333;
}

.cart {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}
